<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-moengage" version="5.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>MoECordova</name>
	<description>MoEngage SDK Plugin</description>
	<js-module name="MoECordova" src="www/MoECordova.js">
		<clobbers target="MoECordova"/>
	</js-module>

	<preference name="APP_ID"/>
    <!-- Android Platform -->
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="MoEngage">
				<param name="android-package" value="com.moengage.cordova.MoECordova"/>
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml"/>
		<framework custom="true" src="src/android/build-extras.gradle" type="gradleReference"/>
		<framework src="com.moengage:moe-android-sdk:9.8.04"/>
		<framework src="com.android.support:appcompat-v7:26.0.1"/>
		<source-file src="src/android/com/moengage/cordova/MoECordova.java" target-dir="src/com/moengage/cordova"/>
		<source-file src="src/android/com/moengage/cordova/CordovaMessageListener.java" target-dir="src/com/moengage/cordova"/>
		<source-file src="src/android/com/moengage/cordova/CordovaInAppListener.java" target-dir="src/com/moengage/cordova"/>
		<config-file target="AndroidManifest.xml" parent="/manifest/application">
		<service android:name="com.moengage.firebase.MoEFireBaseMessagingService">
			<intent-filter>
				<action android:name="com.google.firebase.MESSAGING_EVENT" />
			</intent-filter>
		</service>
		</config-file>
	</platform>
	<!-- iOS Platform -->
	<platform name="ios">
		<!-- Update APP ID in Info.plist -->
		<config-file target="*-Info.plist" parent="MoEngage">
    		<dict>
        		<key>MoEngage_APP_ID</key>
        		<string>$APP_ID</string>
    		</dict>
		</config-file>

        <config-file target="config.xml" parent="/*">
            <feature name="MoEngage">
                <param name="ios-package" value="MoECordova"/>
            </feature>
        </config-file>
        <!-- Cordova specific files -->
        <header-file src="src/ios/MoEngage/MoECordova.h" />
        <source-file src="src/ios/MoEngage/MoECordova.m" />
        <header-file src="src/ios/MoEngage/AppDelegate+MoEngage.h" />
        <source-file src="src/ios/MoEngage/AppDelegate+MoEngage.m" />

        <!-- MoEngage iOS SDK files -->
        <framework src="MoEngage-iOS-SDK" type="podspec" spec="~> 6.0.0"/>
		<framework src="MoEngage.framework" />
    </platform>
</plugin>
